<!DOCTYPE html>
<html>
    <head>
        <meta name= "viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <meta name="description" content="2048">
        <meta name="keywords" content="2048, Game">
        <meta name="author" content="The Something Group">
        <title>2048</title>
        <link rel="stylesheet" href="\2048\2048style.css">
    </head>
    <body>
    <header role="banner">
        <div class="container">
            <%- include('nav.ejs') %>
            <h1>2048</h1>
            <div id="game-board"></div>
        </div>
    </header>
    </body>
    <div class="game">
        <div id="game-board">
            <canvas id="2048Canvas" width="600" height="600"></canvas>
        </div>
    </div>
    <script src="\2048\2048logic.js"></script>
    <main>
        <div class="game-rules">
            <h2>Game Rules</h2>
            <ul>
                <li>you start with 2 squares of 2</li>
                                <p></p>
                <li>Use the arrow keys to slide the squares around the board</li>
                                <p></p>
                <li>Merge 2 squares together of the same type to from a square with 2x number</li>
                                <p></p>
                <li>You win by forming a square with the number 2048</li>
                                <p></p>
                <li>Game Ends when no move is possible</li>
            </ul>
        </div>
    </main>
</html>
