html {
    outline: auto;
    outline-color:red;
    outline-style: solid;
    background-color: black;
    margin-left: 10%;
    margin-right: 10%;
    color: aliceblue;
    text-align: center;
}
.site-intro {
    outline: auto;
    outline-color: red;
    outline-style: solid;
}
.why-us{
    outline: auto;
    outline-color: chartreuse;
    outline-style: solid;
}

.game-item{
    text-decoration-line: underline;
    color: rgb(71, 157, 255);
}

#gotd li {
    list-style-type: none;
}

.clickable-image{
    outline: auto;
    outline-style: solid;
    outline-width: 3px;
    outline-color: gray;
}

header{ 
    text-align: center;
    color:aliceblue
}
ul{
    text-align: center;
    list-style-position: inside;
}
main{
    outline: auto;
    outline-color: red;
    outline-style: solid;
    outline-width: 4px;
}